:root {
  --tick-compensation: 1%;
  --dimension-considering-tick-compensation: calc(
    100% - 2 * var(--tick-compensation)
  );
}

body {
  margin: 0;
  padding: 20px;

  max-width: 500px;
  /* zoom: 2; */
}

.container {
  padding: 32px 16px 16px;
  background-color: #6d67d0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title {
  color: #dad8f7;
  font-family: "Lato";
  font-size: 16px;
}

.sunclockContainer {
  width: 100%;
  padding: 16px 16px 12px;
  overflow: hidden;
}

.ticks {
  display: block;
  width: 100%;
  height: 100%;
}

.sunclock {
  position: relative;
}

.sun {
  position: absolute;
  top: 0;
  left: var(--tick-compensation);
  width: var(--dimension-considering-tick-compensation);
  height: var(--dimension-considering-tick-compensation);
  height: 100%;
  transform-origin: bottom;
}

.sun::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);

  width: 12px;
  height: 12px;
  background-color: #f6c833;
  border-radius: 50%;
}

.sunlightContainer {
  position: absolute;
  top: 0;
  left: var(--tick-compensation);
  width: var(--dimension-considering-tick-compensation);
  /* 2 times height because it is a semicircle */
  height: calc(2 * var(--dimension-considering-tick-compensation));
  margin-top: var(--tick-compensation);
  border-radius: 50%;
  overflow: hidden;
}

.sunlight {
  height: 50%;
  background-image: linear-gradient(rgb(251 219 96 / 20%), transparent);
}
